# src/main/resources/application-dev.yml

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/whiskey_dev?useSSL=false&serverTimezone=UTC
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    root: INFO
    com.whiskey.app: DEBUG
